 body{ /*color: black;*/
 	font-family: 'Rubik', sans-serif;
 	background: url(../imagenes/cosmos3.jpg);
 	background-attachment: fixed;
 	color: #fff;
 	height: 2100px;
 	/*border:solid 3px;*/
 }
 
 header{
 	/*border:solid 1px;*/
 	margin: 5%;
 	text-align: center;
 }
.banner{ margin-top: 3%; /*border: rgba(45,46,48,0.7) 10px;*/}
#BN{ width: 95%; 
}
 h1{
 	font-size: 45px;
 	/*border:solid 1px;*/
 }
.dos{
 	border: solid 5px;
 	width: 95%;
 	height: 90%;
 	margin-right: auto;
    margin-left: auto;
    text-align: center;
    align-items: center;
    display: flex;
}
table{ margin-right: auto;
      margin-left: auto; 
  }
 .table td, table th{
 	padding: 1em;
 	text-align: center;
 }
  th{ display: none; }
 td{ display: block; }
 td img{ padding-bottom: 20%; }

 .num{ font-size: 3.5em; }
 
 .uno{
 	font-size: 20px;
 	/*border: solid 1px;*/
 	/*width: 1200px;*/
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2%;
 	text-align: center;
 }
  
img{
	border-radius: 10px;
}
footer{
	/*border: solid 1px;*/
	margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
	width: 40%;
	text-align: center;
	
}
	
@media(min-width: 600px){

    th{ display: table-cell; }
    td{ display: table-cell; }
    .num{ font-size: 3.5em; }
    #BN{ display: none; }
 

}