.title{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	border-radius: 15px;
	border:solid 1px;
	background: #abbaab;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(#ffffff, #abbaab);
    background: -o-linear-gradient(#ffffff, #abbaab);
    background: linear-gradient(#ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.fa-long-arrow-alt-left{ color:#bcbcbc; font-size: 4em;}
.ver{ text-align: center; margin-left: 5%; width: 15%; /*border:solid 1px; */
	display: inline-block; float: left; 
	margin-top: 1%; }
.fa-long-arrow-alt-left:hover{ color: grey; }
body{
	background: #E6DADA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.CU{
	width: 100%;
	/*border: solid 1px;*/
	display: flex;
    align-items: center;
    justify-content: center;
}
.TE{ /*border: solid 1px;*/ width: 62%; }

.MR{
	border: solid 1px;
	border-radius: 15px;
	width: 100%;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 10px;
	background: rgba(62,130,145,0.4);
	padding-left: 5px;
}
.MR h2{
	text-align: center;
}
.AC{ border: solid 1px;
	background: rgba(62,130,145,0.4);
	border-radius: 15px;
	width: 100%;
	padding-left: 5px;
}
.AC h3{ text-align: center; 
}
.dos{ 
	width: 30%; margin-left: 1%;/*border: solid 2px;*/ }
#CU{ border-radius: 55px; 
	width: 90%; 
	margin-left: 3%;
	border: solid 3px;
	
}
.BOT{/*border:solid 2px*/; display: flex; }
.uno{
	/*border:solid 5px;*/
	margin-left: 4%;
	margin-top: 1%;
	display: inline-block;
	width: 38%;

}
#CURIE{
	width: 100%;
	border-radius: 20px;
	border: solid 2px;
}
.vid{
	margin-left: 6%; display: inline-block; margin-top: 2%;
}
iframe{ border:solid 5px; }
footer{ 
	margin-right: auto; 
	margin-left: auto; width: 20%; 
	border: solid 1px; 
	margin-top: 2%; 
	border-radius: 15px;
	text-align: center;
	background: #649173;  /* fallback for old browsers */
    background: -webkit-linear-gradient(#DBD5A4, #649173);
    background: -o-linear-gradient(#DBD5A4, #649173);
    background: linear-gradient(#DBD5A4, #649173);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	
}
@media screen and (max-width: 600px){

.title{ width: 55%; }
.dos{ display: none; }
.uno{ display: none; }
iframe{ width: 100%; height: auto; }
footer{ width: 40%; }
.TE{ width: 90%; }
}


